body{
    background-color: #ff92a8;
    background-size: 170%;
}

#encabezado{
    color: #E6E6FA;
    border-radius: 10px;
    width: 80%;
    margin: 10px 10% 5% 10%;
    background-image: url(../img/2.jpg);
    background-size:100%;
    text-align:center;
    font-size: 20px;
}

#piePagina{
    color: black;
    text-align: center;
    border-radius: 10px;
    width:81%;
    margin: 5% 10% 10%;
    height: 70px;
    background-image: url(../img/1.jpg);
    background-size: 200;
    clear: both;
    font-style: italic;
    font-weight: bold;
    font-size:15px;
    align-self: flex-end;
}

.centrar{
background-color: #ff92a8;
   text-align: center;
   color: #39857a;
   font-style: italic;
   font-size: 15px;
   font-weight: bold;
   
   }